<div class="banner">
  <ul>
    <li style="background: url(<%~ static_url("images/ba01.jpg") %>);" onclick="window.location.href='/production/fu_ding_bai_cha'"></li>
    <li style="background: url(<%~ static_url("images/ba02.jpg") %>);" onclick="window.location.href='/production/da_hong_pao'"></li>
    <li style="background: url(<%~ static_url("images/ba03.jpg") %>);" onclick="window.location.href='/production/mo_li_hua_cha'"></li>
    <li style="background: url(<%~ static_url("images/ba04.jpg") %>);" onclick="window.location.href='/production/tie_guan_yin2'"></li>
    <li style="background: url(<%~ static_url("images/ba05.jpg") %>);" onclick="window.location.href='/production/tie_guan_yin'"></li>
  </ul>
</div>