
<div class="head clear">
	<div class="box">
	<div class="logo"><img src="<%~ static_url("images/logo.png") %>" /></div>
	<div class="nav">
		<ul>
			<li><a href="/">首页</a></li>
			<li><a href="/about">公司介绍</a></li>
			<li><a href="/production" class="hover">产品中心</a></li>
			<li><a href="/contact">联系我们</a></li>
		</ul>
	</div>
    </div>
</div>

<%= erb :_banner, locals: {banners: @banners} %>

<div class="main clear">
	<div class="product">

    <%= erb :_category_panel, locals: {categories: @categories} %>

    <div class="product_right">
    	<div class="proBox">
        	<h1><%~ @category.title %></h1>
            <div class="proBox_con">
              <% if @category.cover_path.url.present? %>
        	    <div class="proBox_img">
                <img src="<%~ @category.cover_path.url %>" />
              </div>
              <% end %>
              <%= sanitize_content @content.to_s %>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="foot">
	<div class="box">
    	<div class="f_logo"></div>
        <div class="f_addr">
        	<p>联系人：胡良明</p>
			<p>电话：0512-69575557</p>
			<p>邮箱：vigor_hu5@126.com</p>
			<p>地址：江苏省苏州市相城区太平街道金澄路88号</p>
        </div>
        <div class="f_copyright">Copyright ©苏州第五季食品科技有限公司所有 2015-2016. All Rights Reserved.</div>
    </div>
</div>

<div class="mask"></div>
<div class="tab">
	<div id="mediaplayer">JW Player goes here</div>
</div>
<script type="text/javascript" src="<%~ static_url("js/jwplayer.js") %>"></script>
<script type="text/javascript">
jwplayer("mediaplayer").setup({
	flashplayer: "<%~ static_url("swf/player.swf") %>",
	image: "<%~ static_url("video/demo.jpg") %>",
    file: "<%~ static_url("video/demo.mp4") %>",
    controlbar: 'bottom',
	height : 460,
	width : 760, 
});
</script>
