
<div class="head clear">
	<div class="box">
	<div class="logo"><img src="<%~ static_url("images/logo.png") %>" /></div>
	<div class="nav">
		<ul>
			<li><a href="/">首页</a></li>
			<li><a href="/about">公司介绍</a></li>
			<li><a href="/production" class="hover">产品中心</a></li>
			<li><a href="/contact">联系我们</a></li>
		</ul>
	</div>
    </div>
</div>
<div class="banner">
	<ul>
		<li style="background: url(<%~ static_url("images/ba01.jpg") %>);"></li>
		<li style="background: url(<%~ static_url("images/ba02.jpg") %>);"></li>
		<li style="background: url(<%~ static_url("images/ba03.jpg") %>);"></li>
		<li style="background: url(<%~ static_url("images/ba04.jpg") %>);"></li>
		<li style="background: url(<%~ static_url("images/ba05.jpg") %>);"></li>
	</ul>
</div>
<div class="main clear">
	<div class="product">
	<div class="left">
    	<div class="left_nav">
        	<div class="ln_item">
            	<i class="n1"></i>
                <h2><a href="#">茶叶</a></h2>
                <div class="s_menu">
                	<a href="#">大红袍</a><a href="#">铁观音（清香型）</a>
                    <a href="#">铁观音（浓香型）</a><a href="#">福鼎白茶</a>
                    <a href="#">正山小种</a><a href="#">茉莉花茶（龙珠）</a>
                </div>
            </div>
            
            <div class="ln_item">
            	<i class="n2"></i>
                <h2><a href="#">杨梅</a></h2>
                <div class="s_menu">          
                	<a href="#">碳梅</a><a href="#">东魁A</a>
                    <a href="#">东魁B</a>
                </div>
            </div>
            
            <div class="ln_item">
            	<i class="n3"></i>
                <h2><a href="#">荔枝</a></h2>
                <div class="s_menu">          
                	<a href="#">糯米糍</a><a href="#">桂味</a>
                    <a href="#">妃子笑</a>
                </div>
            </div>
            
            <div class="ln_item">
            	<i class="n4"></i>
                <h2><a href="#">大米</a></h2>
                <div class="s_menu">
                	<a href="#">富硒米</a><a href="#">糙米</a>
                    <a href="#">有机大米</a>
                </div>
            </div>
            
            <div class="ln_item">
            	<i class="n5"></i>
                <h2><a href="#">猪肉及蔬菜</a></h2>
                <div class="s_menu">
                	<a href="#">黑毛猪</a><a href="#">巴马香猪</a>
                    <a href="#">藏香猪</a><a href="#">肉禽蔬菜礼包</a>
                </div>
            </div>
            
            <div class="ln_item">
            	<i class="n6"></i>
                <h2><a href="#">鸡头米</a></h2>
            </div>
            
            <div class="ln_item">
            	<i class="n7"></i>
                <h2><a href="#">大闸蟹</a></h2>
            </div>
            
            <div class="ln_item">
            	<i class="n8"></i>
                <h2><a href="#">苹果</a></h2>
                <div class="s_menu">
                	<a href="#">套袋富士</a><a href="#">冰糖心</a>
                </div>
            </div>
            
            <div class="ln_item">
            	<i class="n9"></i>
                <h2><a href="#">赣南脐橙</a></h2>
            </div>
            
            <div class="ln_item">
            	<i class="n10"></i>
                <h2><a href="#">赣南沙田柚</a></h2>
            </div>
            
            <div class="ln_item">
            	<i class="n11"></i>
                <h2><a href="#">砂糖橘</a></h2>
            </div>
            
            <div class="ln_item">
            	<i class="n12"></i>
                <h2><a href="#">菌菇礼包</a></h2>
            </div>
            
        </div>
    </div>
    <div class="product_right">
    	<div class="proBox">
        	<h1>鲜橙</h1>
            <div class="proBox_con">
        	<div class="proBox_img"><img src="<%~ static_url("images/pro-01.jpg") %>" /></div>
            <p>多喝鲜橙多――鲜橙多含丰富的维生素c。英国医学工作者对641名成年人的血液进行化验后发现，血液中维生素c含量越高的人，其动脉的血压越低。这些研究人员认为，维生素c有助于血管扩张。</p>
            <p>鲜橙多含有的钙和维生素D可以帮助维持骨骼强度，但至少还需要吃一些蔬菜获得必要的维生素K。果汁里的钙和牛奶的钙一样可以完全被吸收，很适合老年人。</p>
            <p>鲜橙多含有丰富的水分和维生素，同时拥有很低的热量并且不含有任何脂肪，其丰富的维生素A是保护眼睛的绝佳选择。</p>
            <p>鲜橙多不透明，它里面含有的天然多糖，其中包括果胶，呈悬浮状。鲜橙多促使肠胃道正常工作，果胶还有助清除随着空气和食品一起进入体内的有害物质。</p>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="foot">
	<div class="box">
    	<div class="f_logo"></div>
        <div class="f_addr">
        	<p>联系人：胡良明</p>
			<p>电话：0512-69575557</p>
			<p>邮箱：vigor_hu5@126.com</p>
			<p>地址：江苏省苏州市相城区太平街道金澄路88号</p>
        </div>
        <div class="f_copyright">Copyright ©苏州第五季食品科技有限公司所有 2015-2016. All Rights Reserved.</div>
    </div>
</div>

<div class="mask"></div>
<div class="tab">
	<div id="mediaplayer">JW Player goes here</div>
</div>
<script type="text/javascript" src="<%~ static_url("js/jwplayer.js") %>"></script>
<script type="text/javascript">
jwplayer("mediaplayer").setup({
	flashplayer: "<%~ static_url("swf/player.swf") %>",
	image: "<%~ static_url("video/demo.jpg") %>",
    file: "<%~ static_url("video/demo.mp4") %>",
    controlbar: 'bottom',
	height : 460,
	width : 760, 
});
</script>
