@charset "utf-8";
* { 
	padding: 0; 
	margin: 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	outline: 0;
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body { font-family: "microsoft yahei"; background: #fff;}

a { text-decoration: none; color:inherit;}
img { vertical-align: middle;}
li { list-style: none;}

input { font-family: "microsoft yahei";}

button { 
	font-family: "microsoft yahei"; 
	border: none; 
	border-radius: 4px; 
	display: inline-block;
	color: #FFF;
	font-size: 18px;
	cursor: pointer;
}

.clear:after {
	clear: both; 
	content:"."; 
	display: block; 
	height: 0; 
	overflow: hidden; 
	visibility:hidden;
} 
.box { width: 996px; margin: 0 auto;}

/*-----head----*/
.head { width: 100%; background: url(../images/white.png) repeat; position: fixed; top: 0px; z-index: 1000;}
.logo { width: 360px; height: 90px; float: left;}
.nav { 
	height: 40px; 
	line-height: 40px; 
	float: left; 
	text-align: right; 
	font-size: 16px;
	margin-top: 25px;
}
.nav li { display: inline-block; margin: 0 10px;}
.nav li:last-child { margin-right: 0;}
.nav a { display: inline-block; padding: 5px 10px;}
.nav a.hover, .nav a:hover { border-bottom: 2px #318c80 solid; color: #318c80;}


/*----exchange兑换---*/
.exchange { 
	width: 120px; 
	height: 40px; 
	line-height: 40px; 
	font-size: 16px; 
	float:left;
	
	margin-left: 18px;
	margin-left: 8px\0;
	margin-top: 30px;
}
.exchange a { 
	color: #FFF; 
	display: block; 
	text-align: center; 
	border-radius: 2px;
	background: #d51010; 
	transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	-webkit-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s;
}
.exchange a:hover {background: #e31212; box-shadow: 0px 0px 2px rgba(0,0,0,0.3);}

/*----banner----*/
.banner { position: relative; overflow: auto; }
.banner li { list-style: none; }
.banner ul li { float: left; background-size: cover; background-position: center center; height: 500px;}

.dots { position:absolute; bottom:3px; z-index:20; left: 50%; margin-left: -14px;}
.dots li { 
	float:left; 
	width:15px; 
	height:15px;
	border-radius: 50%; 
	cursor:pointer;
	border: 1px #fff solid;
	margin: 5px;
	text-indent: -999px;
	overflow: hidden;
}
.dots li.active { background: #fff;}


/*---main-----*/
.main { padding: 30px 0; min-height: 800px;}
.home { position: relative; padding-left: 220px; width: 996px; margin: 0 auto;}

.left { width: 220px; position: absolute; top: 0px; left: 0px;}
.right { width: 100%;}

/*--left_nav--*/
.left_nav { background: #f9f9f9; padding: 15px 0;}
.ln_item { position: relative; padding-left: 80px; height: 60px;}
.ln_item i { 
	width: 50px; 
	height: 50px; 
	border-radius: 50%; 
	background: #CCC;
	position: absolute;
	top: 50%;
	left: 20px;
	margin-top: -25px;
	overflow: hidden;
	display: block;
}
.ln_item i img { display:table-cell; width: 50px; border-radius: 50%; }


.ln_item h2 { font-size: 16px; color: #318c80; font-weight:500; line-height: 60px;}
.s_menu {
	display: none; 
	position: absolute; 
	top: 0px; 
	left: 220px;
	padding: 10px;
	width: 180px;
	min-height: 60px;
	background: #318c80;
	font-size: 14px;
	color: #FFF;
}
.s_menu a { display: inline-block; padding: 5px; margin: 5px;}
.s_menu a:hover { text-decoration: underline;}

.ln_item:hover { background: #318c80;}
.ln_item:hover h2 { color: #FFF;}
.ln_item:hover .s_menu { display:block;}



/*----area_box---*/
.area_box { overflow: hidden;}
.area_box h1 {
	padding: 0 20px; 
	font-size: 24px; 
	color: #318c80; 
	line-height: 36px;
	margin-bottom: 20px;
}
.area_box li { float: left; width: 50%; height: 220px; font-size: 0;}
.area_box li a { 
	margin: 0px 0px 20px 20px; 
	display: block; 
	height: 200px;
	text-align: center;
}


/*---video_box--*/
.video_box { overflow: hidden;}
.video_box h1 {
	padding: 0 20px; 
	font-size: 24px; 
	color: #318c80; 
	line-height: 36px;
	margin-bottom: 20px;
}
.video_box li { float: left; width: 50%; height: 220px;}
.video_box li a { 
	margin: 0px 0px 20px 20px; 
	display: block; 
	height: 200px; 
	background: #666;
	background: url(../images/video_bg.jpg) no-repeat center center;
	text-align: center;
}


/*---tab---*/
.tab { 
	width: 800px; 
	height: 500px; 
	background: #FFF; 
	position: fixed; 
	z-index: 100;
	padding: 20px;
}
.mask { 
    background: url(../images/black.png) repeat; 
	width: 100%; 
	height: 100%; 
	display: none; 
	position: absolute; 
	z-index: 30;
	top: 0;
	left: 0;
}

.foot { background: #333; height: 130px; overflow: hidden; font-size: 12px; color: #999;}
.f_logo { width: 186px; height: 120px; margin-top: 5px; background: url(../images/f_logo.png) no-repeat; float: left;}
.f_addr { float: left; margin-top: 10px; margin-left: 20px;}
.f_addr p { line-height: 24px;}
.f_copyright { float: right; margin-top: 60px;}



/*----company公司介绍----*/
.company { width: 996px; margin: 0 auto;}
.company_left { width: 400px; font-size: 0; float: left;}
.company_right { width: 596px; padding-left: 20px; float: left;}
.company_right h1 { 
	border-left: 2px #318c80 solid; 
	padding: 0 20px; 
	font-size: 24px; 
	color: #318c80; 
	line-height: 36px;
	margin-bottom: 20px;
}
.company_right p { font-size: 14px; line-height: 28px; margin-bottom: 20px;}

/*------product产品中心--------*/
.product { position: relative; padding-left: 220px; width: 996px; margin: 0 auto;}
.product_right { width: 100%;}

/*---产品页--*/
.hotPro { overflow: hidden;}
.hotPro h1 { 
	border-left: 2px #318c80 solid; 
	padding: 0 20px; 
	font-size: 24px; 
	color: #318c80; 
	line-height: 36px;
	margin-bottom: 20px;
	margin-left: 20px;
}
.hotPro li { float: left; width: 50%;}
.hotPro li a { 
	margin: 0px 0px 20px 20px; 
	display: block;
	border-radius: 2px; 
	border: 1px #f1f1f1 solid;
	height: 300px;
}
.hotPro li a:hover { border: 1px #ff7800 solid;}
.hotPro li .hp_img { width: 366px; height: 200px; overflow: hidden;}
.hotPro li .hp_text { height: 100px; overflow: hidden; padding: 10px 20px; text-align: left;}
.hotPro li .hp_text h3 { font-size: 16px; color: #318c80; line-height: 28px;}
.hotPro li .hp_text p { font-size: 12px; color: #333; line-height: 24px;}

/*---产品内容页--*/
.proBox { overflow: hidden;}
.proBox h1 { 
	border-left: 2px #318c80 solid; 
	padding: 0 20px; 
	font-size: 24px; 
	color: #318c80; 
	line-height: 36px;
	margin-bottom: 20px;
	margin-left: 20px;
}
.proBox_con { border-top: 1px #f1f1f1 solid; margin-left: 20px;}
.proBox_img { width: 100%; text-align: center; margin: 20px 0;}
.proBox_img img { display: inline-block;}
.proBox p { font-size: 14px; color: #333; line-height: 24px; margin-bottom: 20px;}


/*---contact联系我们---*/
.contact { width: 996px; margin: 0 auto;}
.contact_left { width: 500px; font-size: 0; float: left;}
.contact_right { width: 496px; padding-left: 20px; float: left;}
.contact_right h1 { 
	border-left: 2px #318c80 solid; 
	padding: 0 20px; 
	font-size: 24px; 
	color: #318c80; 
	line-height: 36px;
	margin-bottom: 20px;
}
.contact_right p { font-size: 14px; line-height: 28px; margin-bottom: 20px;}

.contact_right h3 { font-size: 16px; line-height: 32px; padding-left: 25px;}
.contact_right li { height: 20px; line-height: 20px; padding-left: 25px; margin: 5px 0; font-size: 12px;}
.contact_right li.dz { background: url(../images/addIcon.png) no-repeat 0 0;}
.contact_right li.dh { background: url(../images/addIcon.png) no-repeat 0 -20px;}
.contact_right li.qq { background: url(../images/addIcon.png) no-repeat 0 -60px;}
.contact_right li.mail { background: url(../images/addIcon.png) no-repeat 0 -40px;}



/*---area基地内容--*/
.area { overflow: hidden; width: 996px; margin: 0 auto;}
.area h1 { 
	border-left: 2px #318c80 solid; 
	padding: 0 20px; 
	font-size: 24px; 
	color: #318c80; 
	line-height: 36px;
	margin-bottom: 20px;
	margin-left: 20px;
}
.areaBox_con { border-top: 1px #f1f1f1 solid; padding-top: 20px;}
.areaBox_con img { float: left; margin: 0 20px 20px 0; clear: both;}
.areaBox_con p { font-size: 14px; color: #333; line-height: 24px; margin-bottom: 20px;}