<%= erb :_breadcrumbs,locals: {breadcrumbs: {"产品管理"=>"javascript:;"}} %>

<article class="module width_full">
  <header>
    <h3 class="tabs_involved">产品管理</h3>
  </header>
  
  <div class="tab_container">
    <div id="tab1" class="tab_content" style="display: block;">
    <table class="tablesorter" cellspacing="0"> 
    <thead> 
      <tr> 
          <th class="header">产品名称</th> 
          <th class="header">所属分类</th> 
          <th class="header">&nbsp;</th> 
      </tr> 
    </thead> 
    <tbody> 
      <% @categories.each do |category| %>
      <% next if category.father.nil? and @children_exist[category.name] %>
      <tr>
          <td><a href="/production/<%~ category.name %>" target="_blank"><%~ category.title %></a></td> 
          <td><%~ @dict[category.father] || "主分类" %></td> 
          <td>
            <a href="/admin/category/<%~ category.name %>">
              <img src="<%~ backend_static_url "images/icn_edit.png" %>"> 填写产品介绍
            </a>
          </td> 
      </tr>
      <% end %>
    </tbody> 
    </table>
    </div>
  </div>
  
</article>