<%= erb :_breadcrumbs,locals: {breadcrumbs: {"主分类管理"=>"javascript:;"}} %>

<article class="module width_full">
  <header>
    <h3 class="tabs_involved">主分类管理</h3>
  </header>
  
  <div class="tab_container">
    <div id="tab1" class="tab_content" style="display: block;">
    <table class="tablesorter" cellspacing="0"> 
    <thead> 
      <tr> 
          <th class="header">分类名称</th>
          <th class="header">分类图片</th>
          <th class="header">管理员操作</th> 
      </tr>
    </thead> 
    <tbody> 
      <% @categories.each do |category| %>
      <tr>
          <td><%~ category.title %></td>
          <td>
            <p style="display:inline-block;height:30px;">
              <img height="30px" src="/assets/images/pro-01.jpg" alt="">
            </p>
          </td> 
          <td>
            <a href="/production/<%~ category.name %>" target="_blank">预览</a> &nbsp; 
            <a href="/admin/edit_category/<%~ category.id %>">修改信息</a> &nbsp; 
            <a href="/admin/edit_category_logo/<%~ category.id %>">更新图标</a> &nbsp; 
            <a href="javascript:destroy_category(<%~ category.id %>)">删除</a> &nbsp; 
          </td> 
      </tr>
      <% end %>
    </tbody> 
    </table>
    </div>
  </div>
  
</article>