
<%= erb :_breadcrumbs,locals: {breadcrumbs: {"网站视频管理"=>"/admin/video","修改视频 | #{@video.title}"=>"javascript:;"}} %>

<% content_for(:bodyScript) do %>

<script type="text/javascript" src="<%~ static_url("js/jwplayer.js") %>"></script>

<style>
  
.video_box {
  width: 600px;
  height: 360px;
  background: #FFF;
  position: absolute;
  z-index: 100;
  padding: 20px;
}

</style>

<script type="text/javascript">

jwplayer("mediaplayer1").setup({
    flashplayer: "<%~ static_url("swf/player.swf") %>",
    image: "<%~ static_url("images/video_bg.jpg") %>",
    file: "<%~ "#{@video.video_path.url}" %>",
    controlbar: 'bottom',
    width : 600, 
    height : 360,
});

</script>
<% end %>

<article class="module width_full">
  <header><h3>修改视频 | <%~ @video.title %></h3></header>

  <div class="module_content">
  
    <form id="edit_video_form" action="/admin/update_video" method="post" enctype="multipart/form-data">
      
      <input type="hidden" name="id" value="<%~ @video.id %>">

      <fieldset>
        <div style="height:25px;"><label>视频标题</label></div>
        <div>
          <input type="text" name="title" value="<%~ @video.title %>">
        </div>
      </fieldset>

      <fieldset class="overflow-x">
        <div style="height:25px;"><label>当前视频</label></div>
        <div style="height:380px;">
          <div class="video_box">
            <div id="mediaplayer1"></div>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div style="height:25px;"><label>更改视频</label></div>
        <div style="padding-left:8px;">
          <input type="file" name="video_path">
        </div>
        <div style="padding:8px;">
          注意：<font style="color:red;">只支持MP4格式文件</font>。同时<font style="color:red;">单个视频大小限制在200M以内</font>。<br>
          视频文件一般较大，受网络带宽的影响，上传时间会比较长，请耐心等待。<br>
          由于服务器的硬盘容量有限，请确保<font style="color:red;">所有上传的视频合计大小不要超过5G。</font>
        </div>
      </fieldset>

    </form>

  </div>
  <footer>
    <div class="submit_link">
      <input type="submit" value="保存" class="alt_btn" onclick="update_video();">&nbsp;
      <input type="submit" value="返回" onclick="window.location.href='/admin/video';">&nbsp;
    </div>
  </footer>
</article>

<script>
  var update_video = function(){
    var $form = $("#edit_video_form"),
        title = $form.find('[name=title]').val(),
        video_path = $form.find('[name=video_path]').val();

    if(!title){
      alert('请先输入视频标题');
      return
    };

    $form.submit();
  }
</script>