<%= erb :_breadcrumbs,locals: {breadcrumbs: {"产品管理"=>"/admin/production","修改#{@production.title}产品图片"=>"javascript:;"}} %>

<article class="module width_full">
  <header><h3>修改产品图片 | <%~ @production.title %></h3></header>

  <div class="module_content">
  
    <form id="page_form" action="/admin/update_production_cover" method="post" enctype="multipart/form-data">

      <input type="hidden" name="id" value="<%~ @production.id %>">

      <% cover_url = @production.cover_path.url %>
      <% if cover_url %>
      <fieldset>
        <div style="height:25px;"><label>当前图片</label></div>
        <div style="padding-left:10px;">
          <img src="<%~ cover_url %>" alt="">
        </div>
      </fieldset>
      <% end %>

      <fieldset>
        <div style="height:25px;"><label>上传新图片</label></div>
        <div style="padding-left:8px;">
          <input type="file" name="cover_path">
        </div>
      </fieldset>

      <script type="text/javascript">

        var do_submit_form = function(){
          var $form = $("#page_form");

          $form.submit();
        }

      </script>
  
    </form>

  </div>
  <footer>
    <div class="submit_link">
      <input type="submit" value="保存" class="alt_btn" onclick="do_submit_form();">&nbsp;
      <input type="submit" value="返回" onclick="window.location.href='/admin/production';">&nbsp;
    </div>
</footer>
</article>