<%= erb :_breadcrumbs,locals: {breadcrumbs: {"分类管理"=>"/admin/category","修改#{@category.title}分类信息"=>"javascript:;"}} %>

<article class="module width_full">
  <header><h3>修改主分类信息 | <%~ @category.title %></h3></header>

  <div class="module_content">
  
    <form id="edit_category_page_form">

      <input type="hidden" name="id" value="<%~ @category.id %>">

      <fieldset>
        <label>分类名称</label>
        <input type="text" name="title" value="<%~ @category.title %>">
      </fieldset>

      <fieldset>
        <label style="width:99%;">分类ID</label>
        <input type="text" name="name" value="<%~ @category.name %>">
      </fieldset>

      <script type="text/javascript">

        var update_category = function(){
          var $form = $("#edit_category_page_form");
          $.ajax({
              type: "POST",
              url: "/admin/update_category",
              data: $form.serialize(),
              dataType: "json",
              success: function (data) {
                if(data.res){
                  window.location.href="/admin/category";
                }else{
                  if(data.msg){
                    alert(data.msg);
                  }
                }
              },
              error: function (msg) {
                alert("抱歉，保存失败！");
              }
          });
        }
      </script>

    </form>

  </div>
  <footer>
    <div class="submit_link">
      <input type="submit" value="保存" class="alt_btn" onclick="update_category();">&nbsp;
    </div>
</footer>
</article>