<%= erb :_breadcrumbs,locals: {breadcrumbs: {"修改管理员信息"=>"javascript:;"}} %>

<article class="module width_full">
  <header><h3>修改管理员信息</h3></header>

  <div class="module_content">
  
    <form id="edit_admin_form">

      <fieldset>
        <label>用户名</label>
        <input type="text" name="username" value="<%~ @admin.username %>">
      </fieldset>

      <fieldset>
        <label style="width:99%;">邮箱</label>
        <input type="text" name="email" value="<%~ @admin.email %>">
      </fieldset>
  
      <fieldset>
        <label style="width:99%;">输入当前密码</label>
        <input type="password" name="current_password" value="">
      </fieldset>

      <fieldset>
        <label style="width:99%;">输入新密码 &nbsp;<span style="font-weight:normal;">(不修改密码时，请不要填写该信息)</span></label>
        <input type="password" name="password" value="">
        <div class="clear"></div>
        <br>

        <div class="clear"></div>
        <label style="width:99%;">确认新密码</label>
        <input type="password" name="password_confirm" value="">
        
      </fieldset>

      <script type="text/javascript">

        var update_password = function(){
          var $form = $("#edit_admin_form");
          $.ajax({
              type: "POST",
              url: "/admin/update_password",
              data: $form.serialize(),
              dataType: "json",
              success: function (data) {
                if(data.res){
                  window.location.href="/admin";
                }else{
                  if(data.msg){
                    alert(data.msg);
                  }
                }
              },
              error: function (msg) {
                alert("抱歉，保存失败！");
              }
          });
        }
      </script>

    </form>

  </div>
  <footer>
    <div class="submit_link">
      <input type="submit" value="保存" class="alt_btn" onclick="update_password();">&nbsp;
    </div>
</footer>
</article>