<%= erb :_breadcrumbs,locals: {breadcrumbs: {"分类管理"=>"/admin/category","修改#{@category.title}分类图片"=>"javascript:;"}} %>

<article class="module width_full">
  <header><h3>修改分类图片 | <%~ @category.title %></h3></header>

  <div class="module_content">
  
    <form id="page_form" action="/admin/update_category_logo" method="post" enctype="multipart/form-data">

      <input type="hidden" name="id" value="<%~ @category.id %>">

      <% if @category.logo_path.url %>
      <fieldset>
        <div style="height:25px;"><label>当前图片</label></div>
        <div style="padding-left:10px;">
          <img src="<%~ @category.logo_path.url %>" alt="">
        </div>
      </fieldset>
      <% end %>

      <fieldset>
        <div style="height:25px;"><label>上传新图片</label></div>
        <div style="padding-left:8px;">
          <input type="file" name="logo_path">
        </div>
      </fieldset>

      <script type="text/javascript">

        var do_submit_form = function(){
          var $form = $("#page_form");

          $form.submit();
        }

      </script>
  
    </form>

  </div>
  <footer>
    <div class="submit_link">
      <input type="submit" value="保存" class="alt_btn" onclick="do_submit_form();">&nbsp;
      <input type="submit" value="返回" onclick="window.location.href='/admin/category';">&nbsp;
    </div>
</footer>
</article>