<%= erb :_breadcrumbs,locals: {breadcrumbs: {"基地管理"=>"/admin/base","配置网站显示基地列表"=>"javascript:;"}} %>

<article class="module width_half">
  <header style="position:relative;">
    <h3 class="tabs_involved">选择基地</h3>
  </header>
  
  <div class="tab_container">
    <div id="tab1" class="tab_content" style="display: block;">
      <% if @bases_dict.present? %>
        <table class="tablesorter" cellspacing="0"> 
        <thead> 
          <tr> 
              <th class="header">基地名称</th>
              <th class="header">基地封面图</th>  
              <th class="header">操作</th> 
          </tr>
        </thead> 
        <tbody> 
          <% @bases_dict.each do |base_id, base| %>
          <% 
            next if @pids[base_id]
          %>

          <tr>
              <td><%~ base.title %></td>
              <td>
                <p style="display:inline-block;height:30px;">
                  <% cover_url = base.cover_path.thumb.url %>
                  <% if cover_url %>
                  <img height="30px" width="50px" onerror="this.style.display='none';" src="<%~ cover_url %>" alt="">
                  <% end %>
                </p>
              </td> 
              <td>
                <a href="javascript:add_hot_base(<%~ base_id %>);">添加到网站显示基地列表</a> &nbsp;
              </td> 
          </tr>
          <% end %>
        </tbody> 
        </table>
      <% end %>

    </div>
  </div>

</article>

<article class="module width_half">
  <header><h3>网站显示基地列表</h3></header>
  <div>
    <div class="module_content">
      <% if @pids.present? %>
        <% hot_index = 0 %>
        <% @pids.each_value do |base_id| %>
        <% base = @bases_dict[base_id] %>
        <div class="message" style="padding:5px 0;">
          <div class="width_one_third" style="display:inline-block;"><strong><%~ base.title %></strong>&nbsp;</div>
          <div class="width_one_third" style="display:inline-block;">
            <p style="display:inline-block;height:30px;margin: 0;">
              <% cover_url = base.cover_path.thumb.url %>
              <% if cover_url %>
              <img height="30px" width="50px" onerror="this.style.display='none';" src="<%~ cover_url %>" alt="">
              <% end %>
            </div>
          <div class="width_one_third" style="display:inline-block;">
            <a href="javascript:remove_hot_base(<%~ base_id %>);">移除</a>&nbsp;
            <a href="javascript:move_up_hot_base(<%~ hot_index %>);">上移</a>&nbsp;
            <a href="javascript:move_down_hot_base(<%~ hot_index %>);">下移</a></div>
          <div class="clear"></div>
        </div>
        <% hot_index += 1 %>
        <% end %>
      <% else %>
        <div class="" style="padding:5px 0;">
          还未添加任何产品海报，请在左边栏进行添加...
        </div>
      <% end %>

    </div>
  </div>

  <br>
</article>

<script>

  Array.prototype.deleteElementByValue = function(varElement)
  {
      var numDeleteIndex = -1;
      for (var i=0; i<this.length; i++)
      {
          if (this[i] == varElement)
          {
              this.splice(i, 1);
              numDeleteIndex = i;
              break;
          }
      }
      return numDeleteIndex;
  }

  Array.prototype.swapItems = function(index1, index2) {
    this[index1] = this.splice(index2, 1, this[index1])[0];
    console.info("flag1");
    console.info(this);
    return this;
  };
 
    // 上移
  Array.prototype.upRecord = function($index) {
    if($index == 0) {
        return;
    }
    this.swapItems($index, $index - 1);
  };
 
  // 下移
  Array.prototype.downRecord = function($index) {
      if($index == this.length -1) {
          return;
      }
      this.swapItems($index, $index + 1);
  };

  window.pids = <%= @pids.values.to_json %>;
  window.updating = false;

  window.submit_hot_base = function(){
    if(window.updating)return;
    window.updating = true;

    $.ajax({
        type: "POST",
        url: "/admin/hot_base",
        data: {
          ids: window.pids.join(","),
        },
        dataType: "json",
        success: function (data) {
          if(data.res){
            window.submit_hot_base = function(){return false};
            window.location.reload();
          }else{
            if(data.msg){
              alert(data.msg);
            }
            window.updating = false;
          }
        },
        error: function (msg) {
          alert("抱歉，保存失败！");
          window.updating = false;
        }
    });
  }

  window.add_hot_base = function(pid){
    if(window.updating)return;
    window.pids.unshift(pid);
    submit_hot_base();
  }

  window.remove_hot_base = function(pid){
    if(window.updating)return;
    window.pids.deleteElementByValue(pid);
    submit_hot_base();
  }

  window.move_up_hot_base = function(index){
    if(window.updating)return;
    window.pids.upRecord(index);
    submit_hot_base();
  }

  window.move_down_hot_base = function(index){
    if(window.updating)return;
    window.pids.downRecord(index);
    submit_hot_base();
  }

</script>