<%#= erb :_breadcrumbs,locals: {breadcrumbs: {"分类管理"=>"javascript:;"}} %>

<article class="module width_full">
  <header><h3>WELCOME</h3></header>
  <div class="module_content">
    <br>
    <p>欢迎使用苏州第五季后台管理系统</p>
    <p>请在左侧边栏选择你要管理的内容</p>
    <br><br>
    <br>
  </div>
</article>