<%= erb :_breadcrumbs,locals: {breadcrumbs: {"修改公司介绍"=>"/admin/intro","修改配图"=>"javascript:;"}} %>

<% content_for(:head) do %>
    <script>window.STATIC_URL="<%~ backend_static_url("") %>"</script>
    <script type="text/javascript" src="<%~ backend_static_url "ueditor/ueditor.config.js" %>"></script>
    <script type="text/javascript" src="<%~ backend_static_url "ueditor/editor_api.js" %>"></script>
<% end %>

<article class="module width_full">
  <header>
    <h3>修改公司介绍的配图</h3>
  </header>
  <div class="module_content">
    <form id="update_intro_cover_form" action="/admin/intro/cover" method="post" enctype="multipart/form-data">

      <% if @cover_url %>
      <fieldset>
        <div style="height:25px;"><label>当前配图</label></div>
        <div style="padding-left:10px;">
          <img src="<%~ @cover_url %>" alt="">
        </div>
      </fieldset>
      <% end %>

      <fieldset>
        <div style="height:25px;"><label style="width:250px;">上传新图片 &nbsp;<span style="font-weight:normal;">(图片宽度不要超过400px)</span></label></div>
        <div style="padding-left:8px;">
          <input type="file" name="cover_path">
        </div>
      </fieldset>

      <script type="text/javascript">

        var do_submit_form = function(){
          var $form = $("#update_intro_cover_form"),
              cover_path = $form.find('[name=cover_path]').val();
          if(cover_path){
            $form.submit();  
          }else{
            redirect_back();
          }
        }

        var redirect_back = function(){
          window.location.href='/admin/intro';
        }

      </script>
  
    </form>
  </div>
  <footer>
    <div class="submit_link">
      <input type="submit" value="保存" class="alt_btn" onclick="do_submit_form();">&nbsp;
      <input type="submit" value="返回" onclick="redirect_back();">
    </div>
</footer>
</article>