<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8"/>
    <title>苏州第五季后台管理系统</title>
    
    <link rel="stylesheet" href="<%~ backend_static_url "css/layout.css" %>" type="text/css" media="screen" />
    <script src="<%~ backend_static_url "js/jquery-1.5.2.min.js" %>" type="text/javascript"></script>
    <script src="<%~ backend_static_url "js/hideshow.js" %>" type="text/javascript"></script>
    <script src="<%~ backend_static_url "js/jquery.tablesorter.min.js" %>" type="text/javascript"></script>
    <script type="text/javascript" src="<%~ backend_static_url "js/jquery.equalHeight.js" %>"></script>
    <script type="text/javascript">
      $(document).ready(function() 
          { 
              $(".tablesorter").tablesorter(); 
         } 
      );
      $(document).ready(function() {

      //When page loads...
      $(".tab_content").hide(); //Hide all content
      $("ul.tabs li:first").addClass("active").show(); //Activate first tab
      $(".tab_content:first").show(); //Show first tab content

      //On Click Event
      $("ul.tabs li").click(function() {

        $("ul.tabs li").removeClass("active"); //Remove any "active" class
        $(this).addClass("active"); //Add "active" class to selected tab
        $(".tab_content").hide(); //Hide all tab content

        var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
        $(activeTab).fadeIn(); //Fade in the active ID content
        return false;
      });

    });
    </script>
    <script type="text/javascript">

    var redirect_to_index = function(){
      window.location.href = "/admin";
    }

    $(function(){
        $('.column').equalHeight();
    });
    </script>

  <%= content_for?(:head).confirm && yield_content(:head) %>

  </head>

<body>

  <header id="header">
    <hgroup>
      <h1 class="site_title"><a href="/admin">苏州第五季管理系统</a></h1>
      <h2 class="section_title"></h2><div class="btn_view_site"><a href="/" target="_blank">查看站点</a></div>
    </hgroup>
  </header> <!-- end of header bar -->
  
  <section id="secondary_bar">
    <div class="user">
      <p><%~ @admin.username %> (<a href="/admin/logout">退出</a>)</p>
    </div>
    <div class="breadcrumbs_container">
      <%= content_for?(:breadcrumbs).confirm && yield_content(:breadcrumbs) %>
    </div>
  </section><!-- end of secondary bar -->
  
  <aside id="sidebar" class="column">
    <h3>网站内容管理</h3>
    <ul class="toggle">
      <li class="icn_edit_article"><a href="/admin/production">产品管理</a></li>
      <li class="icn_edit_article"><a href="/admin/category">分类管理</a></li>
      <li class="icn_edit_article"><a href="/admin/banner">产品海报管理</a></li>
      <li class="icn_edit_article"><a href="/admin/video">网站视频管理</a></li>
      <li class="icn_edit_article"><a href="/admin/intro">修改公司介绍</a></li>
      <li class="icn_edit_article"><a href="/admin/contact">修改联系方式</a></li>
      <li class="icn_edit_article"><a href="/admin/edit_password">修改管理员信息</a></li>
    </ul>

    <footer>
      <hr />
      <p><strong>Copyright &copy; 2015 THE FIFTH SEASON</strong></p>
    </footer>
  </aside><!-- end of sidebar -->

  <section id="main" class="column">
    <%= yield %>

    <div style="height:200px;">
      &nbsp;
    </div>

  </section>

  <%= content_for?(:bodyScript).confirm && yield_content(:bodyScript) %>

</body>

</html>