<html>
  <head>
    <title><%= @page_title || "苏州第五季食品科技有限公司" %></title>
    <%= content_for?(:head).confirm && yield_content(:head) %>
    <script type="text/javascript" src="<%~ static_url("js/jQuery-1.11.2.js") %>"></script>
  </head>

<style type="text/css">

body {
  background: #f1f1f1;
  min-width: 0;
  color: #444;
  font-family: "Open Sans",sans-serif;
  font-size: 13px;
  line-height: 1.4em;
}

p {
  line-height: 1.5;
}

input, select {
  margin: 1px;
  padding: 3px 5px;
}

input, select, textarea {
  font-size: 14px;
  -webkit-border-radius: 0;
  border-radius: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}


.wp-core-ui .button.button-large {
  height: 30px;
  line-height: 28px;
  padding: 0 12px 2px;
}

.wp-core-ui .button-primary {
  background: #2ea2cc;
  border-color: #0074a2;
  -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
  box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
  color: #fff;
  text-decoration: none;
}

.wp-core-ui .button, .wp-core-ui .button-primary, .wp-core-ui .button-secondary {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 26px;
  height: 28px;
  margin: 0;
  padding: 0 10px 1px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wp-core-ui p .button {
  vertical-align: baseline;
}

#login {
  width: 320px;
  padding: 8% 0 0;
  margin: auto;
}

#login form p {
  margin-bottom: 0;
}

.login * {
  margin: 0;
  padding: 0;
}

.login h1 {
  text-align: center;
}

.login form {
  margin-top: 20px;
  margin-left: 0;
  padding: 26px 24px 46px;
  font-weight: 400;
  overflow: hidden;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
  box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

.login label {
  color: #777;
  font-size: 14px;
}

.login form .input, .login form input[type=checkbox], .login input[type=text] {
  background: #fbfbfb;
}

.login form .input, .login input[type=text] {
  font-size: 24px;
  width: 100%;
  padding: 3px;
  margin: 2px 6px 16px 0;
}

#loginform p.submit, .login-action-lostpassword p.submit {
  border: none;
  margin: 0 0 20px;
}

.login .button-primary {
  float: right;
}

.hidden {
  display:none;
}

.login #login_error {
  border-left: 4px solid #dd3d36;
  background: #fff;
}

#login_error, .login .message {
  margin-left: 0;
  padding: 12px;
}

</style>

  <body class="login wp-core-ui">

    <div id="login">
      <h1>苏州第五季后台管理系统</h1>

      <form name="loginform" id="loginform">
        <p>
          <label for="user_login">用户名<br>
          <input type="text" name="account" id="user_login" class="input" value="" size="20"></label>
        </p>
        <p>
          <label for="user_pass">密码<br>
          <input type="password" name="password" id="user_pass" class="input" value="" size="20"></label>
        </p>
          
        <div id="login_error" class="hidden">
          <strong>错误</strong>：<span id="login_error_msgbox"></span><br>
        </div>

        <p class="submit">
          <input type="submit" onclick="do_login(this);return false;" name="wp-submit" id="wp-submit" class="button button-primary button-large" value="登录">
          <input type="hidden" name="to_url" value="<%~ params[:to_url] %>">
        </p>
      </form>

    </div>

    <script>
  
      (function(){
        var do_login = function(dom){

          var $this = $(dom),
              $form = $this.closest('form'),
              data = $form.serialize(),
              $error_box = $("#login_error");

          $error_box.addClass("hidden");

          $.ajax({
            type: "POST",
            url: "/admin",
            data: data,
            dataType: "json",
            success: function(data){
              if(data.res && data.redirect){
                window.location.href = data.redirect;
              }else{
                $("#login_error_msgbox").text(data.msg);
                $error_box.removeClass("hidden");
              }
            }
          });
          return false;
        }

        window.do_login = do_login;

      }).call()


    </script>

  </body>

</html>