<%= erb :_breadcrumbs,locals: {breadcrumbs: {"分类管理"=>"/admin/category","创建新分类"=>"javascript:;"}} %>

<article class="module width_full">
  <header><h3>创建新分类</h3></header>

  <div class="module_content">
  
    <form id="edit_category_page_form">

      <fieldset>
        <label>分类名称</label>
        <input type="text" name="title" value="">
      </fieldset>

      <fieldset>
        <label style="width:99%;">分类ID</label>
        <input type="text" name="name" value="">
      </fieldset>

      <script type="text/javascript">

        var create_category = function(){
          var $form = $("#edit_category_page_form");
          $.ajax({
              type: "POST",
              url: "/admin/create_category",
              data: $form.serialize(),
              dataType: "json",
              success: function (data) {
                if(data.res){
                  window.location.href="/admin/category";
                }else{
                  if(data.msg){
                    alert(data.msg);
                  }
                }
              },
              error: function (msg) {
                alert("抱歉，保存失败！");
              }
          });
        }
      </script>

    </form>

  </div>
  <footer>
    <div class="submit_link">
      <input type="submit" value="保存" class="alt_btn" onclick="create_category();">&nbsp;
    </div>
</footer>
</article>