
<!DOCTYPE HTML>
<html>
<head>
  <title><%= @page_title || "苏州第五季食品科技有限公司" %></title>
  <link href="<%~ static_url("style/style.css") %>" rel="stylesheet" type="text/css" />

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <%= content_for?(:head).confirm && yield_content(:head) %>
</head>

<body>
  
  <%= yield %>

  <div class="bodyScript">

  	<script type="text/javascript" src="<%~ static_url("js/jQuery-1.11.2.js") %>"></script>
  	<script type="text/javascript" src="<%~ static_url("js/unslider.js") %>"></script>

  	<script type="text/javascript">
		$(function() {

      $('.banner li').css('background-size', 'cover');

      $('.banner').unslider({
        fluid: true,
        dots: true,
        speed: 1000
      });

		});
	  </script>

    <%= content_for?(:bodyScript).confirm && yield_content(:bodyScript) %>
  </div>

</body>

</html>

